.git
.gitignore
.github

Dockerfile
docker-compose.yml
.dockerignore

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

.vscode/
.idea/
*.code-workspace

.DS_Store
*.swp
*.swo
*.log
*.env
.env.*

vendor/

README.md
LICENSE
docs/
*.md
